.form-control{
    text-align: center;
    width: 180px;
    height:100px;
    font-size: 50px;
    outline:none
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

label{
    font-size:30px
}